<h1>Welcome to Ride on Rails</h1>
<p>p.s. there are no actual drivers or passengers or rides. Sorry.</p>

<%= link_to 'Drivers', drivers_path, class: "homepage_button" %>
<%= link_to 'Passengers', passengers_path, class: "homepage_button"%>
