<h2><%= @passenger.name %>'s Details</h2>

<h3> Total Money Spent: $<%= @passenger.calculate_total_charged %></h3>
<h3>List of Trips</h3>
<ol>
  <% @passenger.trips.each do |trip| %>
    <li>
      Trip ID - <%= trip.id %> :: Driver - <%= trip.driver.name %>
    </li>
  <% end %>
</ol>
