<h2>Drivers</h2>
<table class="list-users">
  <tr>
    <th>ID</th>
    <th>Driver Name</th>
  </tr>
  <%@drivers.each do |r|%>
    <tr>
      <td>
        <%= r.id %>
      </td>
      <td>
        <%=link_to r.name, driver_path(r.id)%>
      </td>
    </tr>
  <%end%>
</table>
