/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  font-family: 'Nixie One', cursive;
  background-color: rgb(128, 223, 255);
  color: black;
 }

nav ul {
  width: 100%;
  display: inline-flex;
  list-style-type: none;
  font-size: .5em;
  justify-content: space-around;
  flex-wrap: nowrap;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
}

a:link, a:visited {
  color: #002533;
}

nav ul li a:hover {
  background-color: #002533;
  color: #ccf2ff;
}

h1, h2, h3 {
  font-family: 'Fredericka the Great', cursive;
 }

h2{
  text-align: center;
}


#request-trip{
  padding:15px;
  background-color: blue;

  border-radius: 15px;
  margin-top:0;
}


#buttons{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#buttons li  {
  list-style-type: none;

}

#request-trip a{
  text-decoration: none;
}

#request-trip:hover{
  background-color:#86f442;
}

#passenger-or-driver-info li:nth-child(odd){
  color:#0000ff;

}

#passenger-or-driver-info li{
  padding: 10px;
  font-size: 25px;
  margin-left: 40px;
}

#list-of-trips{
  font-size:40px;
  background-color:	#00FFFF;
  text-align:center;
  margin-bottom:10px;
}

#price-spent{
  text-align:center;
  margin-top: 0px;
}

#available-status{
  padding:15px;
  background-color: #33cc33;

  border-radius: 15px;
  margin-top:0;
}

#available-status a{
  text-decoration: none;
}

#unavailable-status{
  padding:15px;
  background-color: red;

  border-radius: 15px;
  margin-top:0;
}

#unavailable-status a{
  text-decoration:none;
}

#driver-trips{
  font-size:40px;
  background-color:	#00FFFF;
  text-align:center;
  margin-bottom:10px;
}

#driver-earned{
  text-align:center;
  margin-top: 0px;
}

#avg-rating{
  text-align:center;
  margin-top: 0px;
}

.edit_passenger{
  display:flex;
  flex-direction:column;
  max-width: 200px;
  align-content: center;
  margin: 0 auto;
}


.edit_driver{
  display:flex;
  flex-direction:column;
  max-width: 200px;
  align-content: center;
  margin: 0 auto;
}
